<h1>Class Schedule</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Program</th>
      <th>Section</th>
      <th>Day of Week</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Classroom</th>
      <th>Instructor</th>
    </tr>
  </thead>

  <tbody>
    <% @class_schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.course.course_code %> - <%= schedule.course.course_title %></td>
        <td><%= schedule.program.program_name %></td>
        <td><%= schedule.section.section_full_name %></td>
        <td><%= schedule.day_of_week %></td>
        <td><%= schedule.start_time.strftime("%I:%M %p") %></td>
        <td><%= schedule.end_time.strftime("%I:%M %p") %></td>
        <td><%= schedule.classroom %></td>
        <td><%= schedule.instructor_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
